<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sit odit minima doloremque! Adipisci nostrum libero, in minima sed, assumenda accusantium corrupti dignissimos sunt reprehenderit, obcaecati voluptates itaque cum debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sit odit minima doloremque! Adipisci nostrum libero, in minima sed, assumenda accusantium corrupti dignissimos sunt reprehenderit, obcaecati voluptates itaque cum debitis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sit odit minima doloremque! Adipisci nostrum libero, in minima sed, assumenda accusantium corrupti dignissimos sunt reprehenderit, obcaecati voluptates itaque cum debitis.</p>
    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>